<template>
  <div>
    <h1>
      {{name}}
    </h1>
    <form-list></form-list>
    <list></list>
  </div>
</template>

<script>
  import Vue from "vue";
  import FormList from "./FormList";
  import List from "./List";

  export default {
    name:'app-list',
    components: {
      FormList,
      List,
    },
    data: function() {
      return {
        name: 'Форма',
      }
    },
  }
</script>


