<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="comment">comment</label>
        <ValidationProvider rules="length" v-slot="{ errors }">
          <input type="text" v-model="comment" class="form-control" id="comment" aria-describedby="emailHelp">
          <span>{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div class="form-group">
        <label for="amount">amount</label>
        <ValidationProvider rules="positive" v-slot="{ errors }">
          <input type="number" v-model="amount" min="1" class="form-control" id="amount" aria-describedby="emailHelp">
          <span>{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div class="form-group">
        <label for="amount">Date</label>
        <div>
          <datepicker :language="uk" :value="this.date" :format="customFormatter"></datepicker>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" @click="addItem()">Submit</button>
    </div>
  </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate';
import moment from 'moment';
import Datepicker from 'vuejs-datepicker';
import {en, uk} from 'vuejs-datepicker/dist/locale';
import { extend } from 'vee-validate';
extend('length', value => {
  return value.length > 2;
});
extend('positive', value => {
  return value > 0;
});
  export default {
    components: { Datepicker, ValidationProvider },
    name: 'form-input',
    data() {
      return {
        uk: uk,
        amount: '',
        comment: '',
        date: moment().format('YYYY.MM.DD HH:mm:ss'),
      }
    },
    methods:{
      customFormatter(date) {
        return moment(date).format('YYYY.MM.DD HH:mm:ss');
      },
      addItem() {
        if (this.amount < 0 || this.comment.length < 2) {
          this.$toasted.error('Form data Error');
          return false;
        }
        const item = {
          amount: this.amount,
          comment: this.comment,
          date: this.date
        };
        this.$store.dispatch('pushItem', item);
        this.amount = '';
        this.comment = '';
      }
    },
  }
</script>


